.container { 
  max-width: 500px;
  margin: auto;; 
  position: inline-block;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

#result {
  background-color:cornsilk;
}

#currency-from {
  margin-top: 10px;
}

#currency-to {
  margin-left: 20px;
}

h4 {
  color: red;
  text-align: center;
}

#amount {
  margin-left: 90px;
}

p {
  margin-left: 50px
}

#button {
  margin-left: 95px;
}